
.container{
    display: flex;
    align-content: first baseline;
    background-color: rgb(2, 89, 110);
}

.sidebar{
    background-color: rgb(2, 89, 110);
    width: 800px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    position: relative;
    padding-left: 0px;
    margin: 0px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-image{
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0 , 0, 0, 0.5)), url(/image/banner.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image .hero-text{
    color: aliceblue;
    text-align: center;
}
.hero-image .hero-text h1{
    font-size: 50px;
    font-weight: 500;
}

.hero-image .hero-text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.items{
    height: 100px;
    width: 100px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    background-color: rgb(14, 59, 59);
    
}

.MeandI{
    display:block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;  
    background-color: aquamarine;  
    position: relative;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    padding-left: 2%;

}

h3{
    color:rgb(10, 2, 80);
    padding-left: 2%;
}

div h3{
    color:rgb(5, 10, 85);
    padding-left: 2%;
}

p{
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
}

.footer{
    background-color: rgb(3, 122, 151);
    margin: 0px;
    height: fit-content;
    position: sticky;
    display: flex;
    flex-direction: column;
}

body{
    border-style: solid;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-color: rgb(6, 92, 92);
    border-radius: 30px;
    border-radius: 0px;

}